@font-face {
  font-family: "Recursive Mono"; font-style: normal; font-weight: 400; font-display: swap;
  src: url('RecursiveMonoCslSt-Regular.0020-00FF.woff2') format('woff2');
}
@font-face {
  font-family: "Recursive Mono"; font-style: italic; font-weight: 400; font-display: swap;
  src: url('RecursiveMonoCslSt-Italic.0020-00FF.woff2') format('woff2');
}
@font-face {
  font-family: "Recursive Mono"; font-style: normal; font-weight: 700; font-display: swap;
  src: url('RecursiveMonoCslSt-Bold.0020-00FF.woff2') format('woff2');
}

html, body { font-family: "Recursive Mono"; margin: 0; height: 100%; }
#container { height: 100%; }
#menu { position: absolute; left: 0px; top: 0px; z-index: 9; }
#menu .item { float: left; padding: 1px 0 0 1px; }
@media screen and (min-aspect-ratio: 1/1) {
  #menu .item { float: none; }
}

#menu .icon { display: block; cursor: pointer; background-color: #222; color: #fff;
  border: 3px solid #FFF; border-radius: 30px; line-height: 30px; width: 30px; height: 30px; text-align: center; }
#menu .icon .tooltip { display: none; }
#menu .icon:hover .tooltip { display: inline; }
#menu .ping { font-size: 8px; }
#menu .ping:hover { font-size: 16px; }
#menu .icon.green { border-color: #9F0; }
#menu .icon.yellow { border-color: #FC0; }
#menu .icon.orange { border-color: #F80; }
#menu .icon.red { border-color: #F00; }
@media screen and (min-aspect-ratio: 1/1) {
  #menu .icon:hover { width: auto; padding: 0 10px; }
}
@media screen and (max-aspect-ratio: 1/1) {
  #menu .icon:hover .tooltip { display: block; position: absolute; top: 25px; color: #222; }
}

#board-container { display: flex; align-items: center; justify-content: center; height: 100%; overflow: hidden; }
#board { width: 100vmin; height: 100vmin; background-color: #CB5; position: relative; }
#lines { stroke: #0009; stroke-width: 1.5; }
#stars { fill: #0009; }

#ghost-stone { opacity: 0.4; }
#stones, #links, #ghost-stone, #ghost-links, #removed-stones { stroke: #222; stroke-width: 4; }
.black { fill: #222; transform-origin: center left; }
.white { fill: #FFF; transform-origin: center right; }

#score { position: absolute; left: 0; top: 0; width: 100vmin; height: 100vmin;
  background: #000A; color: #FFF; text-align: center; line-height: 100vmin;
  font-size: 80px; }

#page-container { margin: 60px auto 0 auto; padding: 0 10px 10px 10px; max-width: 600px; }
@media screen and (min-aspect-ratio: 1/1) {
  #page-container { margin: 0 auto 0 auto; }
}
